<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <button type="button" class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
      Print
    </button>
    <!-- <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
      Download Report
    </button> -->
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Total Books</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">&nbsp;</h3>
                <div class="d-flex align-items-baseline">
                  <p>
                    <span style="font-size: 1.5rem; font-weight: bold; color: #0d6efd;">3</span>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart [series]="totalBooksChartOptions.series" [chart]="totalBooksChartOptions.chart"
                    [colors]="totalBooksChartOptions.colors" [stroke]="totalBooksChartOptions.stroke"
                    [tooltip]="totalBooksChartOptions.tooltip"></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Total Books Sold</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">&nbsp;</h3>
                <div class="d-flex align-items-baseline">
                  <p>
                    <span style="font-size: 1.5rem; font-weight: bold; color: #198754;">33</span>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart [series]="totalBooksSoldChartOptions.series" [chart]="totalBooksSoldChartOptions.chart"
                    [colors]="totalBooksSoldChartOptions.colors"
                    [tooltip]="totalBooksSoldChartOptions.tooltip"></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Total Royalty</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">&nbsp;</h3>
                <div class="d-flex align-items-baseline">
                  <p>
                    <span style="font-size: 1.5rem; font-weight: bold; color: #ffc107;">&#8377; 844</span>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart [series]="totalRoyaltyChartOptions.series" [chart]="totalRoyaltyChartOptions.chart"
                    [colors]="totalRoyaltyChartOptions.colors"
                    [tooltip]="totalRoyaltyChartOptions.tooltip"></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Total Royalty Paid</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">&nbsp;</h3>
                <div class="d-flex align-items-baseline">
                  <p>
                    <span style="font-size: 1.5rem; font-weight: bold; color: #dc3545;">&#8377; 420</span>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart [series]="totalRoyaltyPaidChartOptions.series" [chart]="totalRoyaltyPaidChartOptions.chart"
                    [colors]="totalRoyaltyPaidChartOptions.colors" [stroke]="totalRoyaltyPaidChartOptions.stroke"
                    [tooltip]="totalRoyaltyPaidChartOptions.tooltip"></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Pending Royalty</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">&nbsp;</h3>
                <div class="d-flex align-items-baseline">
                  <p>
                    <span style="font-size: 1.5rem; font-weight: bold; color: #0dcaf0;">&#8377; 424</span>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart [series]="pendingRoyaltyChartOptions.series" [chart]="pendingRoyaltyChartOptions.chart"
                    [colors]="pendingRoyaltyChartOptions.colors" [stroke]="pendingRoyaltyChartOptions.stroke"
                    [tooltip]="pendingRoyaltyChartOptions.tooltip"></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->