<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(/assets/images/loginpage.png)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <span class="nobleui-logo d-block mb-2">Welcome to Sales Dashboard!</span>
            <h5 class="text-muted fw-normal mb-4">Log in to your account.</h5>
            <form class="forms-sample" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="publicationid" class="form-label">Publishing House</label>
                <select class="form-control" name="publicationid" id="publicationid" formControlName="publicationid">
                  <option value="" disabled selected>Select the Publishing House</option>
                  <option *ngFor="let publication of allpublications" [ngValue]="publication.publicationId">{{publication.publicationName}}</option>
                </select>
                <div *ngIf="submitted && f.publicationid.errors" class="text-danger mt-1">
                  <div *ngIf="f.publicationid.errors.required">Please select appropriate Publishing House.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="useremail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="useremail" placeholder="Enter your Email here..."
                  name="email" formControlName="useremail">
                <div *ngIf="submitted && f.useremail.errors" class="text-danger mt-1">
                  <div *ngIf="f.useremail.errors.required">Email is required.</div>
                  <div *ngIf="f.useremail.errors.email">Email must be a valid email address.</div>
                </div>
              </div>

              <div class="mb-3">
                <label for="userpassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="userpassword" placeholder="Enter your Password here..."
                  name="password" formControlName="userpassword">
                <div *ngIf="submitted && f.userpassword.errors" class="text-danger mt-1">
                  <div *ngIf="f.userpassword.errors.required">Password is required.</div>
                  <div *ngIf="f.userpassword.errors.minlength">Password must be at least 8 characters.</div>
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>