<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Books</h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <!-- <button type="button" class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0">
            <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
            Print
        </button> -->
        <!-- <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
        <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
        Download Report
      </button> -->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-12 main-content ps-xl-4 pe-xl-5">
        <div class="example">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                <div class="col" *ngFor="let book of mybooks; let i = index" [attr.data-index]="i">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center text-uppercase">{{book.title}}</h4>
                        </div>
                        <div class="card-body">
                            <img [src]="getImage(book.image)" style="width: -webkit-fill-available;"
                                class="card-img-top" alt="...">
                        </div>
                        <div class="card-footer text-center d-grid">
                            <a href="" [skipLocationChange]="true" [routerLink]="['../bookDetails', book.bookId]" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>